{% extends 'blog/base.html' %}
{% block title-area %}
     <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Blog Post!</h1>

                </div>
            </div>
        </header>
{% endblock %}
{% block main-area %}




                    <!-- Post content-->
                    <a>
                        <!-- Post header-->

                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            {% if post.uploaded_image %}
                                <img class="img-fluid rounded"
                                 src="{{ post.uploaded_image.url }}" alt="..." />
                            {% else %}
                                <img class="img-fluid rounded"
                                     src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                            {% endif %}



                        </figure>
                        <!-- Post content-->
                        <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">Posted on {{ post.created_date}} by {{ post.author }}</div>
                                     <p>{{ post.content }}</p>
                                    <!-- Post categories-->
                                    {% if post.category %}
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.category.name}}</a>
                                    {% else%}
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">미분류</a>
                                    {% endif %}

                                    {% if post.uploaded_file %}
                                        <a href={{ post.uploaded_file.url }}><button>Download</button></a>
                                    {% endif %}
                        {% if user.is_authenticated and post.author == user %}
                            <a class="btn btn-primary" href="/blog/{{ post.pk }}/delete">글 지우기</a>
                            <a class="btn btn-primary" href="/blog/{{ post.pk }}/update">글 수정</a>
                        {% endif %}

                            <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h3>댓글 목록</h3>


                                        {% for comment in comments %}

                                        <div class="border-bottom mb-2 pb-2">
                                            <p><strong>{{ comment.author }}</strong> • {{ comment.created_date|date:"Y-m-d H:i" }}<span> </span>
                                                {% if user.is_authenticated and comment.author == user %}
                                                    <a href="{% url 'updatecomment' comment.pk %}" class="btn btn-sm btn-outline-secondary text-white" style="background-color: darkseagreen" >수정</a>
                                                    <a href="{% url 'deletecomment' comment.pk %}" class="btn btn-sm btn-outline-secondary text-white" style="background-color: #c06360">삭제</a></p>
                                                {% endif %}
                                            <p>{{ comment.content }}</p>


                                        </div>

                                        {% empty %}
                                             <p>아직 댓글이 없습니다.</p>
                                        {% endfor %}
                                        <hr>

                                <h3>댓글 작성</h3>
                                        <form method="POST" enctype="multipart/form-data" action="{% url 'createcomment' post.pk %}">
                                            {% include "blog/updatecommentform.html" %}
                                        </form>
                            </div>
                        </div>
                    </section>



{% endblock %}
{% block writing-area %}
    <a href="/blog/create/"><button>글쓰기</button></a>
{% endblock %}